.subscribe{
    background: silver;
    position: relative;
    

    &__hero-section-image{
        position: absolute;
        margin-left: 53%;
        width: 47%;
        height: 100%;
        top: 15%;
        float: right;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../img/carousel-6.png);
         
            @include respond(tab-port){
              display: none;
            }
            @include respond(zero-size-min){
                max-height: 490px;
                top: 22%;
            }
         
            @include respond(big-desktop-min-1){
                max-height: 544px;
                top: 17%;
            }
            @include respond(big-desktop-min-2){
                max-height: 680px;
                top: 10%;
            }
           
    }

    &__subscribe-overlay{
        @include abc();
        padding-top: 118px;
        padding-bottom: 355px;
        padding-left: 27px;

        @include respond(tab-port){
            padding-top: 30px;
            padding-left: 0;
            padding-bottom: 120px;
          }

        @include respond(zero-size){
            padding-bottom: 60px;
            padding-top: 20px;
          }
    }
  
    &__subcribe-left{
        // max-width: 628px; //real width
        max-width: 716px;
        width: 100%;
      
       
        @include respond(tab-land-4){
            max-width: 515px;
            display: block;
        }
        @include respond(tab-port){
            max-width: 80%;
            @include margin();
            text-align: center;
          }
        @include respond(phone-1){
            max-width: 90%;
          }

        @include respond(zero-size){
            max-width: 94%;
          }

    }
    &__subscribe-h1{
        font-size: 60px;
        color: #3d3d3d;
        transition: all 0.3s ease;
        margin-top: 71px;
        &:hover{
            color: #323232;
        }
        @include respond(zero-size){
            margin-top: 50px;
            font-size: 50px;
        }
    }
    &__subscribe-p{
        color: #323232;
        font-size: 22.666666px;
        font-weight: 300;
     
        line-height: 41px;
        margin-top: 28px;
        @include respond(zero-size){
            font-size: 18px;
            font-weight: 400;
            line-height: 35px;
        }
    }
    &__subscribe-p2{
        font-size: 18.666666px;
        transition: all 0.3s ease;
        font-weight: 400;
        margin-top: 84px;
        color: #464646;
        &:hover{
            color: #9a9a9a;
        }
        @include respond(zero-size){
            margin-top: 50px;
        }
    }
    &__subscribe-form{
        max-width: 487px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-wrap: nowrap;
        @include respond(tab-port){
            @include margin();
        }
        @include respond(zero-size-1){
            flex-wrap: wrap;
            max-width: 100%;
            min-height: 56px;
        }
    }
    &__subscribe-input-box{
        border-radius: 6px;
        flex: auto;
        height:56px;
        position: relative;
        @include respond(zero-size-1){
            flex: 1 1 100%;
        }
    }
    
    &__subscribe-input{
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 6px;
        padding-left: 46px;
        font-size: 17.333333px;
        border: none;
        color: #464646;
        &:active{
            color: #9a9a9a;
        }
    }
    &__subscribe-span{
        position: absolute;
        top: 35%;
        left: 4%;
       
    }
    &__subscribe-button-box{
        flex: 0 1 144px;
        margin-left: 0.5rem;
        text-align: center;
        height: 56px;
        line-height: 56px;
        @include respond(zero-size-1){
            flex: 0 1 100%;
            margin-left: 0;
            margin-top: 1rem;
        }
    }
    &__subscribe-btn{
        display: inline-block;
        width: 100%;
        border-radius: 6px;
        height: 100%;
        text-decoration: none;
        background-color: #7f28eb;
        color: #fff;
    }
}


// .hero-section-image{
//     position: absolute;
//     margin-left: 67%;
//     width: 33%;
//     height: 100%;
//     float: right;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-image: url(../food-img/hero-home-pk.jpg);
//     display: block;
//     z-index: -1;
// }

// @media (min-width:480px){
//     .hero-section-image{
//        max-height: 280px;
    
//     }
// }
// @media (min-width:768px){
//     .hero-section-image{
//        max-height:520px;
//        margin-top: -64px;
//     }
// }
// @media (min-width:960px){
//     .hero-section-image{
//        max-height:412px;
       
//     }
// }
// @media (min-width:1265px){
//     .hero-section-image{
//        max-height:544px;
       
//     }
// }
// @media (min-width:1440px){
//     .hero-section-image{
//        max-height:680px;
//     }
// }
